module.exports = {
  pocket: {
    username: '<your data>',
    password: '<your data>',
    LOGIN_WAIT_TIME: 8,
  },
  azure: {
    onenotesection: '<PLEASE SEE INSTRUCTION ON HOW TO GET THIS>',
    username: '<MICROSOFT PUBLIC ACCOUNT USERNAME>',
    password: '<MICROSOFT PUBLIC ACCOUNT PASSWORD>',
    client_id: '<PLEASE SEE INSTRUCTION ON HOW TO GET THIS>',
    client_secret: '<PLEASE SEE INSTRUCTION ON HOW TO GET THIS>',
    scope:
      'email profile offline_access openid User.Read Files.ReadWrite Notes.ReadWrite calendars.read',
    redirect_uri: 'http://localhost:3000/auth/callback',,
    grant_type: 'refresh_token',
    token_endpoint: 'https://login.microsoftonline.com/common/oauth2/v2.0/token'
  },
};